version: '3.8'

services:
  web:
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - "80:5000"
    environment:
      DB_HOST: "localhost"
      DB_USER: "test_user"
      DB_PASSWORD: "test_password"
      DB_NAME: "test_db"